.card{
    background: #390554;
    color: white;
    height: 175px;
    border-radius: 10px;
    padding: 20px;
    position: relative;
}
.bottomcircle{
    background: #3a1026;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom:5px;
    right: 5px;
    border-radius: 50%;
}
.CardValues{
    display: flex;
    align-items: center;
    /* background-color: red; */
}
.card h4{
    margin-bottom: 10px;
}
.CardValues span{
    margin-inline-start: 50px;
}