.SideBar{
    width: 288px;
    height:  100%;
}
.MainContent{
    width: 80%;
    height:  100%;
    padding: 1%;
    /* background-color: rgb(132, 255, 0); */
    overflow: scroll;
}
.searchContents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    /* background-color: rgb(223, 140, 6); */
}
input{
    border-radius: 20px;
    border:none;
    outline: 1.5px solid white;
    height: 50px;
    width: 100%;
    padding: 2%;
    font-size: 1.3rem;
    background-color: transparent;
    color: white;
}
.search{ 
    width:35%;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
}
.search span{
    height: 3rem;
    width: 2rem;
    display: flex;
    align-items: center;
}
.search i{
    position: sticky;
    margin-left: 10px;
}
.btn{
    background: linear-gradient(95.24deg, #7C0F35 7.59%, #581266 104.01%);
    border-radius: 20px;
    outline: none;
    border:none;
    width: 7em;
    padding: 1% 2%;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,279px);
    justify-content: center;
    gap: 0.5em;
}
h2{
    color: white;
    font-size: 1.3rem;
    line-height: 2;
}
.footbar{
    width: 100%;
    position: absolute;
    background: #F30050;
    bottom: 0;
    height: 3rem;
}
.bottomcircle{
    background-color: #F30050;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hamburger{
    display: none;
}
@media screen and (max-width:1200px){
    .searchContents{
        width: 80%;
        margin-left: 10%;
    }
    h2{
        margin-left: 10%;
    }
}
@media screen and (max-width:900px){
    .MainContent{
        width: 100%;
    }
    .SideBar{
        display: none;
    }
    .hamburger{
        display: block;
        position: absolute;
        top: 10px;
        left: 14px;
        color: white;
        font-size: 1.5em;
        z-index: 5;
    }
}
@media screen and (max-width:630px){
    .searchContents input{
        height: 2em;
        font-size: 1.3rem;
        min-width: 10rem;
    }
    .searchContents{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1em;
    }
}