*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.App{
    display: flex;
    justify-content:center;
    align-items: center;
}
.Home{
    width: 100%;
    height: 100vh;
    background-image: url(./images/EtheriumBg.jpg);
    background-position: center center;
    background-repeat: none;
    background-size: cover;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.57);
    display: flex;
    justify-content: center;
    align-items: center;
}

::placeholder{
    color: white;
}
